.end-chat-container {
  background-color: #fff; 
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px; 
  flex-direction: column;
}

.end-chat-container p {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #021f3f;
}

.end-chat-button {
  background-color: #021f3f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 13px;
  font-weight: 600;
  line-height: 15.73px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}

.end-chat-button:hover {
  background-color: #4a148c;
}


/* Responsive Design */
@media (max-width: 768px) { /* Tablets */
  .end-chat-container {
    padding: 15px;
    align-items: start;
    text-align: left;
  }
  .end-chat-container p {
    font-size: 0.9rem;
    text-align: left;
  }
  .end-chat-button {
    width: fit-content;
    max-width: 250px; 
    padding: 8px 15px;
  }
}

@media (max-width: 480px) { /* Mobile Devices */
  .end-chat-container {
    padding: 10px;
    width: 100%;
  }
  .end-chat-container p {
    font-size: 0.8rem;
    text-align: left;
  }
  .end-chat-button {
    font-size: 12px;
    padding: 8px 15px; 
    width: fit-content;
  
  }
}